@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tolkien";
  src: url("/font/Tolkien.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/font/Lato-Regular.ttf") format("truetype");
}
